@{
    ViewBag.Title = "Examen Practico";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Exam Practico</title>
    </head>
    <body>
        <style>
            #mapa {
                height: 450px;
            }

            .ui-dialog {
                z-index: 1000 !important
            }
        </style>

        <div id="temperatura">La temperatura en la Ciudad de México es de : @Model.main.temp grados</div>
        <div id="mapa"></div>

        <div>
            <center>
                <div id="divTablaPuntosInteres" style=""> </div>
            </center>
        </div>

        <canvas id="oilChart" width="600" height="400"></canvas>

        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
        <link href="~/Content/leaflet.css" rel="stylesheet" />

        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/leaflet.js"></script>
        <script src="~/Scripts/highcharts.js"></script>
        <script src="~/Scripts/highcharts-3d.js"></script>
        <script src="~/Scripts/exporting.js"></script>
        <script src="~/Scripts/export-data.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script type="text/javascript" src="jscript/graph.js"></script>

        <script type="text/javascript">
            var listaPuntosInteres = new Array();

            var miMapa = L.map('mapa').setView([19.400000, -99.100000], 10);

            google.charts.load('current', { 'packages': ['table'] });

            var oilCanvas = document.getElementById("oilChart");

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiYW50YWx1aXY4IiwiYSI6ImNqczl3NGc0ZzA1cDQzeW5xOHduMDcxNjQifQ.bgirnZIjnK5gPLj58JjD0g'
            }).addTo(miMapa);

            $(document).ready(function () {
                google.charts.setOnLoadCallback(ObtenerPuntosInteres);
                ObtenerGrafica();
            });

            function ObtenerGrafica() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ObtenerSumaZonas", "Home")',
                    async: false,
                    dataType: "json",
                    success: function (result) {
                        if (result.Resultado) {
                            ObtenerTorta(result.Zonas, result.SumaZonas);
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            }

            function ObtenerTorta(zonas, totales) {
                var oilData = {
                    labels: zonas
                    ,
                    datasets: [
                        {
                            data: totales,
                            backgroundColor: [
                                "#FF6384",
                                "#63FF84",
                                "#84FF63",
                                "#8463FF",
                                "#6384FF"
                            ]
                        }]
                };
                var pieChart = new Chart(oilCanvas, {
                    type: 'pie',
                    data: oilData
                });
                Chart.defaults.global.defaultFontFamily = "Lato";
                Chart.defaults.global.defaultFontSize = 18;
            }

            function ObtenerPuntosInteres() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ObtenerPuntoInteres", "Home")',
                    async: false,
                    dataType: "json",
                    success: function (result) {
                        if (result.Resultado) {
                            listaPuntosInteres = result.DatosPuntosInteres;
                            CargarTabla(listaPuntosInteres, 'divTablaPuntosInteres');
                            InsertarPuntosInteres(result.DatosPuntosInteres);
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            }

            function CargarTabla(datos, div) {
                var tabla = new google.visualization.DataTable();

                tabla.addColumn('string', 'Latitud');
                tabla.addColumn('string', 'Longitud');
                tabla.addColumn('string', 'Descripcion');
                tabla.addColumn('string', 'Venta');
                tabla.addColumn('string', 'Zona');

                $.each(datos, function (i, val) {
                    tabla.addRow([
                        `<p style="font-size:10px;">${val.Latitud}</p>`,
                        `<p style="font-size:10px;">${val.Longitud}</p>`,
                        `<p style="font-size:10px;">${val.Descripcion}</p>`,
                        `<p style="font-size:10px;">$${Number(val.Venta).toFixed(2)}</p>`,
                        `<p style="font-size:10px;">${val.Zona}</p>`
                    ]);
                });

                var table = new google.visualization.Table(document.getElementById(div));

                var option = {
                    spage: true, pagingButtons: 5, pageSize: 10,
                    width: '100%', height: '100%', allowHtml: true, showRowNumber: true
                };

                table.draw(tabla, option);
                $('.google-visualization-table table thead').css('font-size', 'x-small');
                $('.google-visualization-table-td').css('font-size', 'smaller');
            }

            function InsertarPuntosInteres(datos) {
                var marker;
                $.each(datos, function (i, val) {
                    marker = L.marker([val.Latitud, val.Longitud]).addTo(miMapa);
                    marker.bindPopup(`<table><tr><td><b>ID Punto Interes: </b></td><td>${val.PuntoInteres}</td></tr><tr><td><b>Descripción: </b></td><td>${val.Descripcion}</td></tr><tr><td><b>Zona: </b></td><td>${val.Zona}</td></tr><tr><td><b>Venta: </b></td><td>${val.Venta}</td></tr></table>`).openPopup();
                });
            }
        </script>
    </body>
</html>